<article class="blog-info">
    <div class="blog-header">
        <div class="blog-title">
            <a href="/blog/{{id}}" class="blog-link">{{title}}</a>
        </div>
        <p id="blog-subtitle">
            Posted by <b>{{user.username}} </b> on <b>{{formatDate createdAt}}</b>
        </p>
    </div>
    <div class="blog-body">
        <p>{{blog_body}}</p>
    </div>
</article>